# Variables de entorno del backend FastAPI
MONGO_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=iglesia_venyve
CORS_ORIGINS=https://panel.iglesiavenyve.org
JWT_SECRET=<genera-un-valor-aleatorio-y-seguro-ej-openssl-rand-hex-32>
PLAYWRIGHT_CHROMIUM_PATH=/pw-browsers/chromium_headless_shell-1208/chrome-linux/headless_shell
FRONTEND_PUBLIC_URL=http://localhost:3000
